APP_ENV=dev
APP_NAME=enterprise-ml-workflow
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_RESOURCE_GROUP=
AZURE_LOCATION=eastus
WORKFLOW_CATALOG=mlworkflow_dev
WORKFLOW_SCHEMA_GOLD=gold
DATABRICKS_HOST=
DATABRICKS_SQL_WAREHOUSE_ID=
MLFLOW_MODEL_NAME=mlworkflow_dev.ml.churn_classifier
MODEL_SERVING_ENDPOINT=churn-model-endpoint
FEATURE_SCHEMA_VERSION=churn.features.v1
FEATURE_CONTRACT=churn_feature_contract_v1
FOUNDRY_ENDPOINT=
FOUNDRY_DEPLOYMENT=
APPLICATIONINSIGHTS_CONNECTION_STRING=
