APP_ENV=dev
APP_NAME=enterprise-ml-workflow
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_RESOURCE_GROUP=
AZURE_LOCATION=eastus
AZURE_RESOURCE_GROUP=
WORKFLOW_CATALOG=mlworkflow_dev
WORKFLOW_SCHEMA_GOLD=gold
DATABRICKS_HOST=
MLFLOW_MODEL_NAME=mlworkflow_dev.ml.churn_classifier
MODEL_SERVING_ENDPOINT=churn-classifier
FOUNDRY_ENDPOINT=
FOUNDRY_DEPLOYMENT=
APPLICATIONINSIGHTS_CONNECTION_STRING=
