$schema: https://azuremlschemas.azureedge.net/latest/batchEndpoint.schema.json
name: [[ batch_endpoint_name ]]
description: Explicit-version R1 batch endpoint for [[ project_name ]].
auth_mode: aad_token
