profile_version: 1
environment: [[ environment ]]
location: [[ location ]]
compute_size: [[ compute_size ]]
training_compute_max_instances: [[ training_compute_max_instances ]]
batch_compute_max_instances: [[ batch_compute_max_instances ]]
resource_group: rg-[[ project_name ]]-[[ environment ]]
workspace: mlw-[[ project_name ]]-[[ environment ]]
model_name: [[ model_name ]]
batch_endpoint: [[ batch_endpoint_name ]]
evidence_container: platform-evidence
terraform_state_key: [[ terraform_state_key ]]
